name: Benchmark

on:
  workflow_dispatch:

jobs:

  benchmark:

    name: Run Benchmarks

    runs-on: ubuntu-latest

    env:
      DOTNET_ROLL_FORWARD: Major

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Download .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0

    - name: Run benchmarks
      run: dotnet run -c Release
      working-directory: src/Benchmarks

    - name: Upload results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: benchmark-results
        path: src/Benchmarks/BenchmarkDotNet.Artifacts/results/
