name: Build

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:

  build:

    name: Test & Coverage

    runs-on: ubuntu-latest

    env:
      DOTNET_ROLL_FORWARD: Major

    steps:

    - name: Checkout
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      with:
        fetch-depth: 0

    - name: Download .NET SDK
      uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9 # v4
      with:
        dotnet-version: 10.0

    - name: Build project
      run: dotnet test
      working-directory: src
